@keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @media (max-width: 768px) {
            /* Adjustments for mobile screens */
            #navbar {
                flex-direction: column;
                align-items: center;
            }
            #nav-list {
                flex-direction: column;
            }
            #nav-list li {
                padding: 10px 0;
            }
            .name {
                margin-right: 0;
                font-size: 1.5rem;
            }
            .linkedin-button {
                margin-top: 10px;
                font-size: 0.8rem;
            }
            #about-section h1 {
                font-size: 2rem;
            }
            #about-section p {
                font-size: 1rem;
            }
            img {
                width: 80%;
                max-width: none;
            }
            .contact-form {
                width: 90%;
            }
        }
